flow-node-red.json
[{"id":"5fd8ebad.eaeb64","type":"tab","label":"Facebook ChatBot","disabled":false,"info":""},{"id":"cbc0b9a9.f733d8","type":"tab","label":"Curso Watson","disabled":false,"info":""},{"id":"c4bc5930.852198","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"c9c0abc5.1072d8","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"1e038760.188269","type":"ui_group","z":"","name":"Sensor Tag","tab":"c9c0abc5.1072d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e8ca326.1f695d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f448316.0faa3c","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DB2 Cloud"},{"id":"c516bb39.598d88","type":"telegram bot","z":"","botname":"GamaWatsonBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9bc46ef3.7e82e","type":"http in","z":"cbc0b9a9.f733d8","name":"","url":"/saldo","method":"post","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["4fadf2f5.3519fc","df57094b.13a088"]]},{"id":"4fadf2f5.3519fc","type":"change","z":"cbc0b9a9.f733d8","name":"","rules":[{"t":"set","p":"tipoConta","pt":"msg","to":"req.body.tipoConta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["b9fa99e1.09c868"]]},{"id":"76c60545.06440c","type":"http response","z":"cbc0b9a9.f733d8","name":"","statusCode":"","headers":{},"x":790,"y":100,"wires":[]},{"id":"df57094b.13a088","type":"debug","z":"cbc0b9a9.f733d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"73557937.149718","type":"inject","z":"cbc0b9a9.f733d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["158e16cf.6cfe69"]]},{"id":"158e16cf.6cfe69","type":"function","z":"cbc0b9a9.f733d8","name":"","func":"msg.tipoConta = \"Poupanca\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["b9fa99e1.09c868"]]},{"id":"b9fa99e1.09c868","type":"dashDB in","z":"cbc0b9a9.f733d8","dashDB":"5f448316.0faa3c","service":"_ext_","query":"SELECT saldo FROM SALDO WHERE tipoConta = ? LIMIT 1","params":"msg.tipoConta","name":"DB2 Cloud","x":540,"y":360,"wires":[["ccc126e5.16c0c8","76c60545.06440c"]]},{"id":"ccc126e5.16c0c8","type":"debug","z":"cbc0b9a9.f733d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":400,"wires":[]},{"id":"ea974069.232ff","type":"http in","z":"5fd8ebad.eaeb64","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["be53b250.14af2","233c9419.b5521c"]]},{"id":"be53b250.14af2","type":"change","z":"5fd8ebad.eaeb64","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":140,"wires":[["cabf761e.df1df8"]]},{"id":"674acfe1.82ff","type":"http response","z":"5fd8ebad.eaeb64","name":"","statusCode":"","headers":{},"x":580,"y":120,"wires":[]},{"id":"233c9419.b5521c","type":"debug","z":"5fd8ebad.eaeb64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":60,"wires":[]},{"id":"cabf761e.df1df8","type":"watson-conversation-v1","z":"5fd8ebad.eaeb64","name":"","workspaceid":"119bf0d5-aa5d-418a-8502-c93ba54e6ff2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":430,"y":220,"wires":[["b57c19d6.0ea4f8","233c9419.b5521c"]]},{"id":"b57c19d6.0ea4f8","type":"function","z":"5fd8ebad.eaeb64","name":"","func":"resposta = [];\nfor(i=0;i<msg.payload.output.generic.length;i++)\n{\n    resposta[i] = {\"text\":msg.payload.output.generic[i].text};\n}\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["674acfe1.82ff"]]},{"id":"258548da.830358","type":"telegram receiver","z":"c4bc5930.852198","name":"","bot":"c516bb39.598d88","saveDataDir":"","filterCommands":false,"x":120,"y":120,"wires":[["871f94cf.910f38","15d71f0e.aea4f1"],["87bcbf14.d623f"]]},{"id":"871f94cf.910f38","type":"function","z":"c4bc5930.852198","name":"Save context","func":"//flow.set(\"chatid\",msg.payload.chatId);\n\ncontext.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\ncontext.flow.weblink = msg.payload.weblink;\nmsg.payload = msg.payload.content;\n\nif(msg.payload.type == \"text\")\n    return [msg,null];\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":290,"y":120,"wires":[["8862f256.689b6"],["3805e5ea.9b673a"]]},{"id":"8862f256.689b6","type":"watson-conversation-v1","z":"c4bc5930.852198","name":"","workspaceid":"119bf0d5-aa5d-418a-8502-c93ba54e6ff2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":480,"y":120,"wires":[["4178169c.c97718"]]},{"id":"4178169c.c97718","type":"function","z":"c4bc5930.852198","name":"Restore context","func":"msg.payload.chatId = context.flow.chatId;\nmsg.payload.type = context.flow.type;\nfor(i=0;i<msg.payload.output.generic.length;i++)\n{\n    msg.payload.content = msg.payload.output.generic[i].text;\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":664,"y":113.9375,"wires":[["4cea5f0c.94d45"]]},{"id":"4cea5f0c.94d45","type":"telegram sender","z":"c4bc5930.852198","name":"","bot":"c516bb39.598d88","x":865.75,"y":113,"wires":[[]]},{"id":"87bcbf14.d623f","type":"function","z":"c4bc5930.852198","name":"Not authorized user","func":"msg.payload.content = \"You're not authorized user\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":518.75,"y":263.4375,"wires":[["4cea5f0c.94d45"]]},{"id":"d1fbd835.88bf68","type":"comment","z":"c4bc5930.852198","name":"Read.me","info":"1) Create a Watson Conversation on IBM Cloud (https://www.bluemix.net)\n2) Create a Telegram Bot:\n   Open web.telegram.org\n   find BotFather (contact)\n   send /newbot\n   Give a name for your bot (Botfather will ask it)\n   Give a user name for it, which should have in the end \"Bot\"\n   The BotFather will give you a token.\n   ","x":102.5,"y":74.68746948242188,"wires":[]},{"id":"15d71f0e.aea4f1","type":"debug","z":"c4bc5930.852198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"3805e5ea.9b673a","type":"function","z":"c4bc5930.852198","name":"","func":"msg.payload = context.flow.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":340,"wires":[["a2812bb9.6c8b18","15d71f0e.aea4f1"]]},{"id":"a2812bb9.6c8b18","type":"visual-recognition-v3","z":"c4bc5930.852198","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"pt-br","x":460,"y":340,"wires":[["2e9d2fc4.9595e"]]},{"id":"2e9d2fc4.9595e","type":"function","z":"c4bc5930.852198","name":"","func":"msg.payload = {\"chatId\":context.flow.chatId};\nmsg.payload.type = \"message\";\nfor(i=0;i<msg.result.images[0].classifiers[0].classes.length;i++)\n{\n    msg.payload.content = msg.result.images[0].classifiers[0].classes[i].class;\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":320,"wires":[["cbfd518c.c0b2d","4cea5f0c.94d45"]]},{"id":"cbfd518c.c0b2d","type":"debug","z":"c4bc5930.852198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]}]
