flow-node-red.json
[{"id":"9bc46ef3.7e82e","type":"http in","z":"cbc0b9a9.f733d8","name":"","url":"/saldo","method":"post","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["4fadf2f5.3519fc","df57094b.13a088"]]},{"id":"4fadf2f5.3519fc","type":"change","z":"cbc0b9a9.f733d8","name":"","rules":[{"t":"set","p":"tipoConta","pt":"msg","to":"req.body.tipoConta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["b9fa99e1.09c868"]]},{"id":"76c60545.06440c","type":"http response","z":"cbc0b9a9.f733d8","name":"","statusCode":"","headers":{},"x":790,"y":100,"wires":[]},{"id":"df57094b.13a088","type":"debug","z":"cbc0b9a9.f733d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"73557937.149718","type":"inject","z":"cbc0b9a9.f733d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["158e16cf.6cfe69"]]},{"id":"158e16cf.6cfe69","type":"function","z":"cbc0b9a9.f733d8","name":"","func":"msg.tipoConta = \"Poupanca\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["b9fa99e1.09c868"]]},{"id":"b9fa99e1.09c868","type":"dashDB in","z":"cbc0b9a9.f733d8","dashDB":"5f448316.0faa3c","service":"_ext_","query":"SELECT saldo FROM SALDO WHERE tipoConta = ? LIMIT 1","params":"msg.tipoConta","name":"DB2 Cloud","x":540,"y":360,"wires":[["ccc126e5.16c0c8","76c60545.06440c"]]},{"id":"ccc126e5.16c0c8","type":"debug","z":"cbc0b9a9.f733d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":400,"wires":[]},{"id":"5f448316.0faa3c","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"DB2 Cloud"}]